@model ClassDemo.Models.Person;

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

@if (Model.IsManager)
{
    <p>I'm a Manager</p>
}

<p>@Model.FirstName</p>
<p>@Model.LastName</p>
<p>@Model.DateOfBirth</p>
<p>@Model.IsManager</p>

@for (int i = 0; i < Model.FirstName.Length; i++)
{
    <span>@Model.FirstName[i]</span>
}

<dl>
    <dt>
        @Html.DisplayNameFor(model => Model.ID)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.ID)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => Model.DateOfBirth)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.DateOfBirth)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => Model.IsManager)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.IsManager)
    </dd>
</dl>